#container { background-color: #fff; }
.page-banner { padding: 40px 0 5px 0; background: #f9f9f9 url('../images/panorama_min.png'); }
ul.breadcrumbs { float: left; margin-top: 25px; }
.tresc h2 { margin-top: 20px; margin-bottom: 20px; }
.tresc h3 { margin-top: 20px; margin-bottom: 10px; }
#content .tresc { padding-bottom: 20px; }
.tresc ol { list-style-type: decimal; line-height: 1.5em; font-weight: 400; }
.tresc ul { list-style-type: disc; margin-left: 35px; margin-bottom: 20px; line-height: 1.5em; font-weight: 400; }
.tresc .post-content h2 { margin-bottom: 0; }
.tresc .post-content p { margin-left: 0; }
.tresc .post-content p .dataimp { font-weight: 600; }
.tresc .post-content p.autor { text-align: right; }
.tresc ul.post-meta { margin-left: 0; }
.tresc p { margin: 0 10px 10px 10px; font-size: 16px; line-height: 1.5em; font-weight: 400; }
.tresc .img-right { float: right; margin-left: 15px; margin-bottom: 10px; }
.tresc .img-left { float: left; margin-right: 15px; margin-bottom: 10px; }
.h2-clear-right { clear: right; padding-top: 10px; border-top: 1px solid #ccc; }
.h2-clear-left  { clear: left; padding-top: 10px; border-top: 1px solid #ccc; }
.tresc .well {line-height: 1.5em; font-weight: 400;}
.table ol { list-style-type: decimal; }
.alert { font-size: 16px; line-height: 1.5em; }
.faq-text p { margin-left: 10px; }
.faq-text ul { list-style-type: disc; margin-left: 20px; }
/*.carousel .item { height: 350px; }*/
.img-carousel { width: 100%; max-height: 350px; }
.img-cert { width: auto; max-height: 200px; }
.img-cert-banner { width: auto; max-height: 100px; }
.banner .touch-carousel .owl-controls .owl-buttons { top: -30px; }
.tresc h3.post-title { margin: 0; }
.post-row { min-height: 160px; float: left; }
.post-content p { font-weight: 400; }
.sidebar .widget.kategorie { overflow: visible; }
.sidebar .widget.kategorie ul { padding-left: 10px; }
.sidebar .widget.kategorie .btn-default { background-color: #fff; border-color: #666; }
.sidebar .widget.kategorie .btn-default:hover { background-color: #ee3733; color: #fff; }
.sidebar .widget.kategorie .btn-default:focus { background-color: #ee3733; color: #fff; }
.sidebar .widget-popular-posts .widget-thumb { border: none; }
.sidebar .widget-popular-posts .widget-content { padding-top: 15px; }
.page-link { color: #333; }
ul.search-results li.search-entry ul { margin-bottom: 5px; }
ul.search-results li.search-entry .search-entry-excerpt { margin-left: 55px; }
blockquote { font-size: 15px; }
cite { float:right; }
div.btn-group { margin-bottom: 20px; }
div.top-xs { padding-top: 30px; }
ul.top-linki { font-size: 14px; }
.search-no-results { font-size: 22px; font-weight: 400; text-align: center; }
.icons-credits { color: #666; }
.dataimp { font-weight: bold; }
